/* 
    Created on : 23-Oct-2014, 19:42:12
    Author     : Gabri
*/
html, body {
    height: 100%;
    width: 100%;    
}

body { 
    background-size: 100% 100%;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    margin: 2%;
    
    background: rgba(13,13,13,1);
    background: -moz-linear-gradient(left, rgba(13,13,13,1) 0%, rgba(49,96,153,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(13,13,13,1)), color-stop(100%, rgba(49,96,153,1)));
    background: -webkit-linear-gradient(left, rgba(13,13,13,1) 0%, rgba(49,96,153,1) 100%);
    background: -o-linear-gradient(left, rgba(13,13,13,1) 0%, rgba(49,96,153,1) 100%);
    background: -ms-linear-gradient(left, rgba(13,13,13,1) 0%, rgba(49,96,153,1) 100%);
    background: linear-gradient(to right, rgba(13,13,13,1) 0%, rgba(49,96,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d0d0d', endColorstr='#316099', GradientType=1 );

}

.page_right {
    display: none;
    height: 100%;
    width: 40px;
    position: fixed;
    top: 0;
    right: 0;
    outline: 1px solid yellowgreen;
    background: rgba(255, 255, 100, 0.2);
    cursor: pointer;
}